body {
    background-image: url(../images/united-squares-negative.png);
    width: 100%;
    min-height: 100%;
}

.jumbotron {
    color: red;
}

.instructions {
    margin: 20px;

}

.random-number {
   margin:20px;
   height: 50%;
}

.records {
    margin: 20px;
    height: 50%;
}